body {
  background-color: #ffe8ed;
  color: #c5ac9f;
  font-family: 'Segoe UI', sans-serif;
}
.navbar {
  background-color: #daf2ff;
}
.navbar-brand, .nav-link {
  color: #f0c2ff !important;
  font-weight: bold;
  font-family:"Brush Script MT", cursive ; 
  font-size:xx-large;
}
.hero {
  background-color: #fff8d6;
  padding: 60px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.menu-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
}
footer {
  background-color: #f2e0f9;
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 40px;
}

